  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="body">
      <nav class="menu" id="menunav">
      <a class="chill">chillmode</a><a href="/hardmode" class="hard">hardmode</a><a href="impossiblemode" class="impossible">impossiblemode</a>
      </nav>
      <form method="post" class="main">  
        <p class="inputbox" id="question">guess the pokemon:</p> 
        <div class="inputbox" id="inputboxdiv"><p> <input type="text" name="gs" class="inputbox" id="inputbox" /></p></div>
        <p class="inputbox" id="submit"><input type="submit" name="enters" value="enter"/></p>
        <p class="inputbox" id="answer">{{answer}}</p>
      </form>
      <div class="photos">
        <img class="photos" id="pokemonphoto" src="{{pokemonimage}}" alt="{{name}}">
      </div>

  </body>
  </html>